/* Common */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
}

.accent-color {
    color: #2e2f42;
}

.accent-color-footer {
    color: #f4f4fd;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1168px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.section-paddings {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Header styles */

.page-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.menu {
    display: flex;
    column-gap: 50px;
}

.menu-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.contact-block {
    font-style: normal;
}

.contact-list {
    display: flex;
    column-gap: 24px;
}

.contact-list-link {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact-list-link:hover,
.contact-list-link:focus {
    color: #404bbf;
}

/* Hero */

.hero {
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2e2f42;
}

.hero-container {
    padding-top: 180px;
    padding-bottom: 120px;
    padding-left: 60px;
    padding-right: 60px;
    color: #ffffff;
}

.main-title {
    max-width: 550px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 60px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #ffffff;
}

.hero-container-wrapper {
    display: flex;
    align-items: center;
}

.order-service-btn {
    min-width: 169px;
    height: 56px;
    padding: 16px 32px 16px 32px; 
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    margin-right: 14px;
    margin-left: 430px;
    background-color: #4D5AE5;
    color: #ffffff;
}

.order-service-btn:hover,
.order-service-btn:focus {
    background-color: #404BBF;
    color: #ffffff;
}

/* Benefits styles */

.benefits {
    margin-top: 50px;
    margin-bottom: 72px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ffffff;
    color: #ffffff;
}

.benefits-container {
    padding-left: 34px;
    padding-right: 34px;
}

.benefits-list {
    display: flex;
    column-gap: 24px;
}

.benefits-list-item {
    width: calc((100% - 2 * 88px) / 3);
}

.benefits-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2e2f42;
}

.benefits-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Team styles */

.team {
    background-color: #F4F4FD;
}

.team-section-title {
    max-width: 412px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    margin-top: 90px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
}

.team-member {
    background-color: #ffffff;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-list-img {
    margin-bottom: 32px;
}

.team-member-name {
    margin-left: 65px;
    margin-right: 65px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.team-member-text {
    margin-left: 65px;
    margin-right: 60px;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/* Portfolio styles */

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.portfolio-list-img {
    margin-top: 48px;
}

.portfolio-list-margin {
    margin-bottom: 120px;
}

.portfolio-section-title {
    max-width: 412px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    margin-top: 90px;
}

.portfolio-item-name {
    margin-top: 32px;
    margin-left: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-item-text {
    margin-left: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Footer styles */

.footer {
    background-color: #2e2f42;
}

.footer-block {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    margin-top: 100px;
}

.footer-text {
    max-width: 264px;
    margin-top: 18px;
    margin-bottom: 100px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}